

<!-- Following Menu -->
<div class="ui large top fixed menu transition hidden">
  <div class="ui container">
    <a class="active item" href="/">Inicio</a>
    <a class="item">Articulos</a>
    <div class="right menu">
      <div class="item">
        <a href="http://www.twitter.com/emiliolezama"> <i class="circular link large twitter icon"></i></a>
      </div>
      <div class="item">
        <a href="mailto:emiliolezama@loshijosdelamalinche.com"> <i class="circular link large mail outline icon"></i></a>
      </div>
    </div>
  </div>
</div>

<!-- Page Contents -->

  <div class="ui vertical stripe segment">
    
      {{ partial "arts.html" . }}
   
  </div>
  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row" id="sobre">
        <div class="six wide left floated column">
        <img class="ui large bordered circular image" src="{{ .Site.BaseURL }}img/mili.jpg">
          
        </div>
        <div class="eight wide column" >

          <h3 class="ui header">Sobre Mi</h3>
          <p>Obtuve mi licenciatura en Ciencias Políticas en la UNAM con un certificado del Programa Internacional de Sciences Po París. Tengo una maestría en Políticas Públicas de la Universidad de París II y otra en Comunicación Global en la George Washington University. Soy fundador y director ejecutivo de la revista digital Los hijos de la Malinche. Publico una columna semanal en El Universal sobre temas políticos y culturales. También publico en L’Observateur en Francia y el Huffington Post en España y participo como analista internacional del programa Club de Prensa de NTN24 que se transmite en Sudamérica.</p>
          <a href="http://www.twitter.com/emiliolezama"> <i class="circular link big twitter icon"></i> </a>
          <a href="mailto:emiliolezama@loshijosdelamalinche.com"> <i class="circular link big mail outline icon"></i></a>
        </div>

      </div>
    </div>
  </div>
{{ partial "footer.html" . }}





