<div class="ui segment">
    <div class="ui sixteen column divided stackable grid">
        <div class="three wide column">
            <img class="ui tiny centered rounded image" src="{{ .Site.BaseURL }}img/universal.jpg">

        </div>

        <div class="three wide column">
            <img class="ui tiny centered rounded image" src="{{ .Site.BaseURL }}img/universal.jpg">

        </div>

        <div class="three wide column">
            <img class="ui tiny centered rounded image" src="{{ .Site.BaseURL }}img/universal.jpg">

        </div>

        <div class="three wide column">
            <img class="ui tiny centered rounded image" src="{{ .Site.BaseURL }}img/universal.jpg">

        </div>

        <div class="three wide column">
            <img class="ui tiny centered rounded image" src="{{ .Site.BaseURL }}img/universal.jpg">

        </div>
    </div>
</div>
