<div class="ui vertical stripe segment">
    <h3 class="ui header centered">Escribo en:</h3>
    <div class="ui segment">
        <div class="ui fifteen column divided stackable grid">
            <div class="three wide column">
                <img class="ui tiny centered rounded image" src="{{ .Site.BaseURL }}img/universal.jpg">

            </div>

            <div class="three wide column">
                <img class="ui tiny centered rounded image" src="{{ .Site.BaseURL }}img/universal.jpg">

            </div>

            <div class="three wide column">
                <img class="ui tiny centered rounded image" src="{{ .Site.BaseURL }}img/universal.jpg">

            </div>

            <div class="three wide column">
                <img class="ui tiny centered rounded image" src="{{ .Site.BaseURL }}img/universal.jpg">

            </div>

            <div class="three wide column">
                <img class="ui tiny centered rounded image" src="{{ .Site.BaseURL }}img/universal.jpg">

            </div>
        </div>
    </div>
</div>
