<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">

            <div class="ui eight column centered grid">
                <div class="row">
                    <div class=" one wide centered column">
                        <a href="http://www.twitter.com/emiliolezama" target="_blank"> <i class="circular link big twitter icon"></i> </a>
                    </div>
                    <div class="six wide centered column">
                        <img class="ui centered medium circular image" src="{{ .Site.BaseURL }}img/mili.jpg">
                    </div>
                    <div class="one wide centered column">
                        <a href="mailto:emiliolezama@loshijosdelamalinche.com"> <i class="circular link big mail outline icon"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="ui text container">

                <h3 class="ui header">Sobre Mi</h3>
                <p>Obtuve mi licenciatura en Ciencias Políticas en la UNAM con un certificado del Programa Internacional de Sciences Po París. Tengo una maestría en Políticas Públicas de la Universidad de París II y otra en Comunicación Global en la George Washington University. Soy fundador y director ejecutivo de la revista digital <b><a href="http://www.loshijosdelamalinche.com/">Los hijos de la Malinche</a></b>. Publico una columna semanal en <b><a href="http://www.loshijosdelamalinche.com/">El Universal</a></b> sobre temas políticos y culturales. También publico en <b><a href="http://www.loshijosdelamalinche.com/">L’Observateur</a></b> en Francia y el <b><a href="http://www.loshijosdelamalinche.com/">Huffington Post</a></b> en España y participo como analista internacional del programa <b><a href="http://www.loshijosdelamalinche.com/">Club de Prensa</a></b> de NTN24 que se transmite en Sudamérica.</p>
            </div>
        </div>

        <div class="centered row">
            <h4 class="ui horizontal header divider">
        Dónde Escribo
      </h4>
            <div class="ui horizontal segments escribo-en">
                <div class="ui grid segment">
                    <div class="column">
                        <a href="http://www.eluniversal.com.mx/autor-opinion/articulistas/emilio-lezama"><img class="ui tiny centered rounded image" src="{{ .Site.BaseURL }}img/universal.jpg"></a>

                    </div>
                </div>
                <div class="ui grid segment">
                    <div class="column">
                        <a href="http://www.huffingtonpost.es/emilio-lezama/"><img class="ui small centered rounded image" src="{{ .Site.BaseURL }}img/huff.svg"></a>
                    </div>
                </div>
                <div class="ui segment">
                    <a href="http://www.reporteindigo.com/category/editorialista/emilio-lezama"><img class="ui tiny centered rounded image" src="{{ .Site.BaseURL }}img/indigo.jpg"></a>
                </div>
                <div class="ui grid segment">
                    <div class="column">
                        <a href="http://www.loshijosdelamalinche.com/user/emilio-lezama"><img class="ui tiny centered rounded image" src="{{ .Site.BaseURL }}img/malinche.png"></a>
                    </div>
                </div>
                <div class="ui grid segment">
                    <div class="column">
                        <a href="http://leplus.nouvelobs.com/emiliolezama"><img class=" ui small centered rounded image " src="{{ .Site.BaseURL }}img/le-nou.svg "></a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
