<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <img class="ui centered medium circular image" src="{{ .Site.BaseURL }}img/mili.jpg">
            </div>
        </div>
        <div class="sixteen column row">
            <div class="eight wide column">
                <h3 class="ui header">Sobre Mi</h3>
                <p>Obtuve mi licenciatura en Ciencias Políticas en la UNAM con un certificado del Programa Internacional de Sciences Po París. Tengo una maestría en Políticas Públicas de la Universidad de París II y otra en Comunicación Global en la George Washington University. Soy fundador y director ejecutivo de la revista digital <b><a href="http://www.loshijosdelamalinche.com/">Los hijos de la Malinche</a></b>. Publico una columna semanal en <b><a href="http://www.loshijosdelamalinche.com/">El Universal</a></b> sobre temas políticos y culturales. También publico en <b><a href="http://www.loshijosdelamalinche.com/">L’Observateur</a></b> en Francia y el <b><a href="http://www.loshijosdelamalinche.com/">Huffington Post</a></b> en España y participo como analista internacional del programa <b><a href="http://www.loshijosdelamalinche.com/">Club de Prensa</a></b> de NTN24 que se transmite en Sudamérica.</p>
            </div>
            <div class="five wide centered column">
                <h3 class="ui header">Escribo en:</h3>
                <table class="ui padded celled two cloumn table">
                    <tbody>
                        <tr>
                            <td><img class="ui tiny centered rounded image" src="{{ .Site.BaseURL }}img/universal.jpg"></td>
                            <td> <img class="ui tiny centered rounded image" src="{{ .Site.BaseURL }}img/huff.svg"></td>

                        </tr>
                        <tr>
                            <td><img class="ui tiny centered rounded image" src="{{ .Site.BaseURL }}img/indigo.jpg"></td>
                            <td> <img class="ui tiny centered rounded image" src="{{ .Site.BaseURL }}img/malinche.png">

                            </td>

                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="2" style="background-color: white;">
                                <img class=" ui small centered rounded image " src="{{ .Site.BaseURL }}img/le-nou.svg ">
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
