<!-- Following Menu -->
<div class="ui large top fixed menu transition hidden">
    <div class="ui container">
        {{ $currentNode := . }} {{ range .Site.Menus.main }}
        <a class="{{if or ($currentNode.IsMenuCurrent " main " .) ($currentNode.HasMenuCurrent "main " .) }} active{{end}} item" href="{{.URL}}">{{ .Name }}</a> {{ end }}
        <div class="right menu">
            <div class="item">
                <a href="http://www.twitter.com/emiliolezama"> <i class="circular link large twitter icon"></i></a>
            </div>
            <div class="item">
                <a href="mailto:emiliolezama@loshijosdelamalinche.com"> <i class="circular link large mail outline icon"></i></a>
            </div>
            <div class="item">
                <div class="ui left icon action input" id="mailing-list">
                    <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Tu correo">
                    <i class="at icon"></i>
                    <button class="ui button">Unete a mi lista de correos</button>
                </div>
            </div>
        </div>
    </div>
</div>
