 <div class=""> 
  <div class="ui vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large secondary borderless menu">
        <a class="active item" href="{{ .Site.BaseURL }}">Inicio</a>
        <a class="item" href="{{ .Site.BaseURL }}articulo/">Articulos</a>
    
      </div>
    </div>

    <div class="ui text container">
      <h1 class="ui inverted header">
        EMILIO LEZAMA
      </h1>
      <h2 class="subtitle">DIRECTOR DE LOS HIJOS DE LA MALINCHE · ESCRITOR · ANALISTA DE MEDIOS Y POLÍTICA<p></p>
 
    </h2>
    </div>

  </div>
</div>