<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row" id="sobre">
            <div class="six wide left floated column">
                <img class="ui large bordered circular image" src="{{ .Site.BaseURL }}img/mili.jpg">

            </div>
            <div class="eight wide column">

                <h3 class="ui header">Sobre Mi</h3>
                <p>Obtuve mi licenciatura en Ciencias Políticas en la UNAM con un certificado del Programa Internacional de Sciences Po París. Tengo una maestría en Políticas Públicas de la Universidad de París II y otra en Comunicación Global en la George Washington University. Soy fundador y director ejecutivo de la revista digital <b><a href="http://www.loshijosdelamalinche.com/">Los hijos de la Malinche</a></b>. Publico una columna semanal en <b><a href="http://www.loshijosdelamalinche.com/">El Universal</a></b> sobre temas políticos y culturales. También publico en <b><a href="http://www.loshijosdelamalinche.com/">L’Observateur</a></b> en Francia y el <b><a href="http://www.loshijosdelamalinche.com/">Huffington Post</a></b> en España y participo como analista internacional del programa <b><a href="http://www.loshijosdelamalinche.com/">Club de Prensa</a></b> de NTN24 que se transmite en Sudamérica.</p>
                <a href="http://www.twitter.com/emiliolezama"> <i class="circular link big twitter icon"></i> </a>
                <a href="mailto:emiliolezama@loshijosdelamalinche.com"> <i class="circular link big mail outline icon"></i></a>
            </div>

        </div>
        <div class="row">
            <table class="ui padded celled table">
                <tbody>
                    <tr>
                        <td><img class="ui tiny centered rounded image" src="{{ .Site.BaseURL }}img/universal.jpg"></td>
                        <td> <img class="ui tiny centered rounded image" src="{{ .Site.BaseURL }}img/huff.svg"></td>
                        <td><img class="ui tiny centered rounded image" src="{{ .Site.BaseURL }}img/indigo.jpg"></td>
                        <td> <img class="ui tiny centered rounded image" src="{{ .Site.BaseURL }}img/malinche.png">
                        </td>
                        <td> <img class=" ui small centered rounded image " src="{{ .Site.BaseURL }}img/le-nou.svg ">
                        </td>
                </tbody>

            </table>
        </div>
    </div>
</div>
