{{ partial "top.html" . }} {{ partial "header.html" . }} {{ partial "fb-root.html" .}}
<div class="ui vertical stripe segment">
    <div class="ui main text container articulo">
        <h1 class="ui header">{{ .Title }}
	    	<div class="sub header">{{ .Date.Format "2006-01-02"}}</div>
	    	<div class="sub header">Publicado en {{ .Params.medio }}</div>

	    </h1> {{ partial "social-share.html" . }}
        <div class="ui  divider">

        </div>
    </div>
    <div class="ui text container">
        {{ .Content }}
        <div class="ui  divider">

        </div>
    </div>


</div>
{{ partial "bottom.html" . }}
